[access]
	inheritFrom = All-Projects
[project]
	description = Provides a JAVA SDK for rapid microservices development, including service registration, service discovery, request routing, load balancing, retry, etc.
[access "refs/*"]
	owner = group saml/onap-gerrit-msb-java-sdk-committers
	read = group GitHub Replication
